@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
button,
.my-font {
  font-family: 'Bespoke Stencil', sans-serif;
}


[data-theme="light"] {
  .nav-bg {
    background-color: #f4f1de8D;
  }

  .footer-bg {
    background-color: #f2cc8f;
  }

  .form-bg{
    background-color: aqua;
  }

  .text-color{
    color: black;
  }
}

[data-theme="dark"] {
  body {
    background-color: black;
  }

  .nav-bg {
    background-color: #0000004D;
  }

  .nav-links-bg {
    color: #fff;
  }

  .footer-bg {
    background-color: #f2cc8f;
  }

  .text-color{
    color: white;
  }
}