@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
button,
.my-font {
  font-family: 'Bespoke Stencil', sans-serif;
}


[data-theme="light"] {

  body {
    background-color: rgb(219, 219, 219);
  }

  .center-bg{
    background: white;
    color: Black;
  }

  .form-bg{
    background-color: aqua;
  }

  .text-color{
    color: black;
  }

  .des-color{
    color: black;
  }
}

[data-theme="dark"] {
  body {
    background-color: black;
  }

  .center-bg{
    background: white;
    color: black;
  }
  
  .text-color{
    color: white;
  }
  .des-color{
    color: rgb(0, 255, 255);
  }
}

